@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

* {
  box-sizing: border-box;
}

img {
  object-fit: cover;
  width:100%;
  height:100%;
}

a {
  color:inherit;
  text-decoration: none;
}