@import "_reset";
@import "_variables";
@import "_styleSet";

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 100%;
  height: 100vh;
  padding:15px;
  background-color: $bg-color;

  @media screen and (min-width:0px) {
    height:250vh;
  }
  @media screen and (min-width:660px) {
    height:150vh;
  }
  @media screen and (min-width:970px) {
    height:150vh;
  }
  @media screen and (min-width:1280px) {
    height: 100vh;
  }
}

main {
  display:grid;
  gap:3px;
  height:100%;
  max-width:1920px;
  padding:3px;

  @media screen and (min-width:0px) {

    main {
      nav {
        grid-area: nv;
      }
      .home {
        grid-area: hm;
      }
      .service {
        grid-area: sv;
      }
      .space1 {
        grid-area: s1;
      }
      .space-2 {
        grid-area: s2;
      }
      .space-3 {
        grid-area: s3;
      }
      .space-4 {
        grid-area: s4;
      }
      .space-5 {
        grid-area: s5;
      }
      .space-6 {
        grid-area: s6;
      }
      .space-7 {
        grid-area: s7;
      }
      .team-1 {
        grid-area: t1;
      }
      .team-2 {
        grid-area: t2;
      }
      .team-3 {
        grid-area: t3;
      }
      footer {
        grid-area: ft;
      }
    }

    grid-template-columns: repeat(4,minmax(calc(95px * .6), 1fr));
    grid-template-rows: repeat(31,minmax(calc(70px * .6),1fr));
    grid-template-areas: $media-min-width-0;
  }

  @media screen and (min-width:660px) {

    main {
      nav {
        grid-area: nv;
      }
      .home {
        grid-area: hm;
      }
      .service {
        grid-area: sv;
      }
      .space1 {
        grid-area: s1;
      }
      .space-2 {
        grid-area: s2;
      }
      .space-3 {
        grid-area: s3;
      }
      .space-4 {
        grid-area: s4;
      }
      .space-5 {
        grid-area: s5;
      }
      .space-6 {
        grid-area: s6;
      }
      .space-7 {
        grid-area: s7;
      }
      .team-1 {
        grid-area: t1;
      }
      .team-2 {
        grid-area: t2;
      }
      .team-3 {
        grid-area: t3;
      }
      footer {
        grid-area: ft;
      }
    }

    grid-template-columns: repeat(8,minmax(calc(95px * .7), 1fr));
    grid-template-rows: repeat(14,minmax(calc(70px * .7),1fr));
    grid-template-areas:$media-min-width-660;
    ;
  }

  @media screen and (min-width:970px) {

    main {
      nav {
        grid-area: nv;
      }
      .home {
        grid-area: hm;
      }
      .service {
        grid-area: sv;
      }
      .space1 {
        grid-area: s1;
      }
      .space-2 {
        grid-area: s2;
      }
      .space-3 {
        grid-area: s3;
      }
      .space-4 {
        grid-area: s4;
      }
      .space-5 {
        grid-area: s5;
      }
      .space-6 {
        grid-area: s6;
      }
      .space-7 {
        grid-area: s7;
      }
      .team-1 {
        grid-area: t1;
      }
      .team-2 {
        grid-area: t2;
      }
      .team-3 {
        grid-area: t3;
      }
      footer {
        grid-area: ft;
      }
    }

    grid-template-columns: repeat(9,minmax(95px, 1fr));
    grid-template-rows: repeat(13,minmax(70px,1fr));
    grid-template-areas:$media-min-width-970;
  }

  @media screen and (min-width:1280px) {

    main {
      nav {
        grid-area: nv;
      }
      .home {
        grid-area: hm;
      }
      .service {
        grid-area: sv;
      }
      .space1 {
        grid-area: s1;
      }
      .space-2 {
        grid-area: s2;
      }
      .space-3 {
        grid-area: s3;
      }
      .space-4 {
        grid-area: s4;
      }
      .space-5 {
        grid-area: s5;
      }
      .space-6 {
        grid-area: s6;
      }
      .space-7 {
        grid-area: s7;
      }
      .team-1 {
        grid-area: t1;
      }
      .team-2 {
        grid-area: t2;
      }
      .team-3 {
        grid-area: t3;
      }
      footer {
        grid-area: ft;
      }
    }

    grid-template-columns: repeat(12,minmax(95px, 1fr));
    grid-template-rows: repeat(10,minmax(70px,1fr));
    grid-template-areas:$media-min-width-1280;
  }
  
  /* ----------------------------------------------
  * Generated by Animista on 2022-3-7 3:41:53
  * Licensed under FreeBSD License.
  * See http://animista.net/license for more info. 
  * w: http://animista.net, t: @cssanimista
  * ---------------------------------------------- */

  /**
  * ----------------------------------------
  * animation color-change-2x
  * ----------------------------------------
  */
  @keyframes color-change-2x {
    0% {
      background: lightskyblue;
    }
    100% {
      background: crimson;
    }
  }
  animation: color-change-2x 2s linear infinite alternate both;
  
  nav {
    grid-area: nv;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $bg-color;
    transition: $tr-default;
    &:hover {
      background-color: lavenderblush;
    }
    .wrapper-top {
      h4 {
        @extend %h4-main;
      }
      h2 {
        @extend %h2-main;
        @media screen and (min-width:350px) {
          margin-top:30px;
          font-size:24px;
        }
      }
      ul {
        margin-top: 20px;
        padding:0 20px;
        li {
          text-transform:uppercase;
          border-top:1px solid rgba(0,0,0,.2);
          transition: background-color .3s ease-in-out;
          &:last-child {
            border-bottom:1px solid rgba(0,0,0,.2);
          }
          &:hover {
            background-color: lavender;
          }
          a {
            display:block;
            padding:10px 0;
            width:100%;
            height:100%;
          }
        }
      }
    }
    .wrapper-bottom {
      padding:15px;
      ul {
        margin-top:35px;
        text-transform: capitalize;
      }
      ul:nth-child(n+2):nth-child(-n+3) {
        li:first-child {
          font-weight: 600;
        }
      }
      ul:last-child {
        display: flex;
        li {
          padding-right:5px;
        }
        li:first-child {
          font-weight:600;
        }
      }
    }
  }
  .home {
    grid-area: hm;
    padding:15px;
    background-color: $bg-color;
    transition: $tr-default;
    &:hover {
      background-color: antiquewhite;
    }
    h4 {
      @extend %h4-main;
      padding:0 0 15px 0;
    }
    h1 {
      font-size:42px;
      &:nth-of-type(1) {
        margin-top:40px;
      }
      &:nth-of-type(3) {
        margin-bottom:20px;
      }
      @media screen and (min-width:350px) {
        font-size:28px;
        &:nth-of-type(1) {
          margin-top:30px;
        }
      }
    }
    p {
      padding-bottom: 20px;
      @media screen and (min-width:350px) {
        &:nth-of-type(2) {
          padding:0;
        }
      }
    }
  }
  .service {
    grid-area: sv;
    background-color: $bg-color;
    transition: $tr-default;
    &:hover {
      background-color: lightblue;
    }
    h4 {
      @extend %h4-main;
    }
    h2 {
      @extend %h2-main;
      &:nth-of-type(2) {
        margin:0;
      }
      @media screen and (min-width:350px) {
        margin-top:25px;
        font-size:24px;
      }
    }
  }
  .space-1 {
    grid-area: s1;
  }
  .space-2 {
    grid-area: s2;
  }
  .space-3 {
    grid-area: s3;
  }
  .space-4 {
    grid-area: s4;
  }
  .space-5 {
  grid-area: s5;
  }
  .space-6 {
    grid-area: s6;
  }
  .space-7 {
    grid-area: s7;
  }
  .team-1 {
    grid-area: t1;
  }
  .team-2 {
    grid-area: t2;
  }
  .team-3 {
    grid-area: t3;
  }
  footer {
    grid-area: ft;
  }
  .space-1,
  .space-2,
  .space-3,
  .space-4,
  .space-5,
  .space-6,
  .space-7,
  .team-1,
  .team-2,
  .team-3,
  footer {
    transition: $tr-default;
    &:hover {
      filter:grayscale(50%);
    }
  }
}