%button {
  display:inline-block;
  font-family: inherit;
  border-radius: 7px;
  font-size:18px;
  text-transform: uppercase;
  padding:5px 10px;
  background-color: crimson;
  color:white;
  font-weight:500;
}